# cp gogs.service /etc/systemd/system/gogs.service
# service gogs start
[Unit]
Description=Gogs (Go Git Service)
After=syslog.target
After=network.target
After=mysqld.service
#After=postgresql.service
#After=memcached.service
#After=redis.service

[Service]
# Modify these two values and uncomment them if you have
# repos with lots of files and get an HTTP error 500 because
# of that
###
#LimitMEMLOCK=infinity
#LimitNOFILE=65535
Type=simple
User=c08mediamor
Group=psaserv
WorkingDirectory=/var/www/vhosts/mediamor.de/subdomains/git/gogs
ExecStart=/var/www/vhosts/mediamor.de/subdomains/git/gogs/gogs web
Restart=always
Environment=USER=c08mediamor HOME=/var/www/vhosts/mediamor.de

[Install]
WantedBy=multi-user.target
